/* Base Colors */
$color-primary: rgba(231, 69, 54, 1);
$color-primary-10: rgba(231, 69, 54, 0.1);
$color-primary-25: rgba(231, 69, 54, 0.25);
$color-primary-50: rgba(231, 69, 54, 0.5);
$color-primary-75: rgba(231, 69, 54, 0.75);

$color-primary-v-high: rgba(222, 19, 0, 1);
$color-primary-v-medium: rgba(237, 42, 24, 1);
$color-primary-v-low: rgba(250, 103, 89, 1);
$color-primary-v-low-10: rgba(250, 103, 89, 0.1);

$color-secondary: rgba(54, 216, 231, 1);
$color-secondary-10: rgba(54, 216, 231, 0.1);
$color-secondary-25: rgba(54, 216, 231, 0.25);
$color-secondary-50: rgba(54, 216, 231, 0.5);
$color-secondary-75: rgba(54, 216, 231, 0.75);

$color-secondary-v-high: rgba(46, 128, 135, 1);
$color-secondary-v-medium: rgba(46, 179, 191, 1);
$color-secondary-v-low: rgba(35, 236, 255, 1);
$color-secondary-v-low-10: rgba(35, 236, 255, 0.1);

$color-success: rgba(110, 216, 35, 1);
$color-success-10: rgba(110, 216, 35, 0.1);
$color-success-25: rgba(110, 216, 35, 0.25);
$color-success-50: rgba(110, 216, 35, 0.5);
$color-success-75: rgba(110, 216, 35, 0.75);

$color-success-v-high: rgba(68, 128, 26, 1);
$color-success-v-medium: rgba(84, 178, 18, 1);
$color-success-v-low: rgba(102, 245, 0, 1);
$color-success-v-low-10: rgba(102, 245, 0, 0.1);

$color-warning: rgba(255, 162, 29, 1);
$color-warning-10: rgba(255, 162, 29, 0.1);
$color-warning-25: rgba(255, 162, 29, 0.25);
$color-warning-50: rgba(255, 162, 29, 0.5);
$color-warning-75: rgba(255, 162, 29, 0.75);

$color-warning-v-high: rgba(140, 94, 28, 1);
$color-warning-v-medium: rgba(191, 120, 19, 1);
$color-warning-v-low: rgba(255, 150, 0, 1);
$color-warning-v-low-10: rgba(255, 150, 0, 0.1);

$color-error: rgba(197, 0, 0, 1);
$color-error-10: rgba(197, 0, 0, 0.1);
$color-error-25: rgba(197, 0, 0, 0.25);
$color-error-50: rgba(197, 0, 0, 0.5);
$color-error-75: rgba(197, 0, 0, 0.75);

$color-error-v-high: rgba(139, 0, 0, 1);
$color-error-v-medium: rgba(229, 0, 0, 1);
$color-error-v-low: rgba(255, 23, 23, 1);
$color-error-v-low-10: rgba(255, 23, 23, 0.1);

/* Neutral Colors */
$color-neutral-black: rgba(35, 35, 35, 1);
$color-neutral-black-10: rgba(35, 35, 35, 0.1);
$color-neutral-black-25: rgba(35, 35, 35, 0.25);
$color-neutral-black-50: rgba(35, 35, 35, 0.5);
$color-neutral-black-75: rgba(35, 35, 35, 0.75);

$color-neutral-black-v-high: rgba(0, 0, 0, 1);
$color-neutral-black-v-medium: rgba(42, 42, 42, 1);
$color-neutral-black-v-low: rgba(89, 89, 89, 1);
$color-neutral-black-v-low-10: rgba(89, 89, 89, 0.1);

$color-neutral-dark: rgba(74, 74, 74, 1);
$color-neutral-dark-10: rgba(74, 74, 74, 0.1);
$color-neutral-dark-25: rgba(74, 74, 74, 0.25);
$color-neutral-dark-50: rgba(74, 74, 74, 0.5);
$color-neutral-dark-75: rgba(74, 74, 74, 0.75);

$color-neutral-dark-v-high: rgba(53, 53, 53, 1);
$color-neutral-dark-v-medium: rgba(120, 120, 120, 1);
$color-neutral-dark-v-low: rgba(234, 234, 234, 1);
$color-neutral-dark-v-low-10: rgba(234, 234, 234, 0.1);

$color-neutral-light: rgb(203, 203, 203);
$color-neutral-light-10: rgba(203, 203, 203, 0.1);
$color-neutral-light-25: rgba(203, 203, 203, 0.25);
$color-neutral-light-50: rgba(203, 203, 203, 0.5);
$color-neutral-light-75: rgba(203, 203, 203, 0.75);

$color-neutral-light-v-high: rgba(152, 152, 152, 1);
$color-neutral-light-v-medium: rgba(189, 189, 189, 1);
$color-neutral-light-v-low: rgba(241, 241, 241, 1);
$color-neutral-light-v-low-10: rgba(241, 241, 241, 0.1);

$color-neutral-beige: rgba(249, 247, 247, 1);
$color-neutral-beige-10: rgba(249, 247, 247, 0.1);
$color-neutral-beige-25: rgba(249, 247, 247, 0.25);
$color-neutral-beige-50: rgba(249, 247, 247, 0.5);
$color-neutral-beige-75: rgba(249, 247, 247, 0.75);

$color-neutral-white: rgb(255, 255, 255);
$color-neutral-white-10: rgba(255, 255, 255, 0.1);
$color-neutral-white-25: rgba(255, 255, 255, 0.25);
$color-neutral-white-50: rgba(255, 255, 255, 0.5);
$color-neutral-white-75: rgba(255, 255, 255, 0.75);

/* Accent Colors */
$color-accent-gold: rgba(203, 187, 160, 1);
$color-accent-gold-10: rgba(203, 187, 160, 0.1);
$color-accent-gold-25: rgba(203, 187, 160, 0.25);
$color-accent-gold-50: rgba(203, 187, 160, 0.5);
$color-accent-gold-75: rgba(203, 187, 160, 0.75);

$color-accent-gold-v-high: rgba(255, 255, 255, 1);
$color-accent-gold-v-medium: rgba(221, 187, 130, 1);
$color-accent-gold-v-low: rgba(234, 214, 181, 1);
$color-accent-gold-v-low-10: rgba(234, 214, 181, 0.1);
