/* Shadows */
$shadow-black-0: 0 2px 8px 0 rgba(7,18,37,0.00);
$shadow-black-25: 0 4px 8px 0 rgba(74,74,74,0.15);
$shadow-black-50: 0 8px 16px 0 rgba(74,74,74,0.15);
$shadow-black-75: 0 12px 24px 0 rgba(74,74,74,0.15);
$shadow-black-100: 0 16px 40px 0 rgba(74,74,74,0.15);

$shadow-primary-25: 0 4px 8px 0 rgba(135,0,0,0.15);
$shadow-primary-50: 0 8px 16px 0 rgba(135,0,0,0.15);
$shadow-primary-75: 0 12px 24px 0 rgba(135,0,0,0.15);
$shadow-primary-100: 0 16px 40px 0 rgba(135,0,0,0.15);

$shadow-secondary-25: 0 4px 8px 0 rgba(119,194,245,0.15);
$shadow-secondary-50: 0 8px 16px 0 rgba(119,194,245,0.15);
$shadow-secondary-75: 0 12px 24px 0 rgba(119,194,245,0.15);
$shadow-secondary-100: 0 16px 40px 0 rgba(119,194,245,0.15);